/* Home */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    min-height: 100vh;
    background-color: rgb(106, 131, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid rgb(0, 0, 0); */
}

.header {
    /* border: 3px solid red; */
    display: flex;
    color: blanchedalmond;
    background-color: rgba(31, 73, 31, 0.733);
    font-size: 34px;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0px 5px 5px rgba(48, 70, 41, 0.486);
}

#tema {
    margin: 2rem;
    border-radius: 1em;
    box-shadow: 0px 0px 18px rgb(48, 70, 41);

}

.container {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* border: 3px solid; */
}

.row {
    display: flex;
    width: 1000px;
    height: 200px;
    /* border: 8px solid red; */
    padding: 1em;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 3em;
}

.boxone {
    display: flex;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 270px;
}

.boxtwo {
    display: flex;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 270px;

}

.boxthree {
    display: flex;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 270px;
}

.receta {
    border-radius: 1em;
    display: flex;
    transition: 0.5s;
}
.receta:hover {
    box-shadow: 10px 5px 5px rgba(48, 70, 41, 0.486);
    width: 270px;
    transition: 0.5s;
}
#name {
    /* border: 2px solid blue; */
    width: 270px;
    text-align: center;
    padding-top: 6px;
    color: bisque;
}

/* ---------------------- Recetas ------------------------ */

.pizzaheader {
    display: flex;
    /* border: 2px solid; */
    width: 100%;
    color: blanchedalmond;
    background-color: rgba(31, 73, 31, 0.733);
    font-size: 34px;
    padding: 1rem;
    box-shadow: 0px 5px 5px rgba(48, 70, 41, 0.486);
    flex-wrap: wrap;
    text-align: center;
}

.title {
    display: flex;
    /* border: 2px solid; */
    justify-content: center;
    align-items: center;
    flex: auto;
}

.hometop {
    display: flex;
    /* border: 3px solid red; */
    max-width: 3rem;
    min-width: 3rem;
    /* justify-content: center; */
    align-items: center;
}

.fa-home {
    display: flex;
    color: blanchedalmond;
    font-size: 24px;
    /* width: 40px;
    height: 40px; */
    /* border: 2px solid; */
    /* border-radius: 50%; */
}

#button {
    /* display: flex; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(31, 73, 31, 0);
    background-color: rgb(31, 73, 31, 0);
    box-shadow: 0px 0px 8px rgb(29, 43, 25);
}

.contop {
    display: flex;
    /* flex-direction: column; */
    max-width: 840px;
    border: 2px solid rgba(12, 61, 15, 0.671);
    padding-left: 3.5em;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 2rem;
    box-shadow: 0px 0px 8px rgb(29, 43, 25);

}

.description {
    /* border: 2px solid red; */
    width: 800px;
    padding-right: 12em;
}

#des {
    color: blanchedalmond;
    padding-bottom: 6px;
}

.description-text {
    color: aliceblue;
}

.ingredients {
    /* border: 2px solid red; */
    width: 840px;
}

#ing {
    color: blanchedalmond;
    padding-bottom: 6px;
}

.all-text {
    color: aliceblue;
}

li {
    padding-bottom: 6px;
}

.conbottom {
    width: 840px;
    /* height: 400px; */
    padding-left: 1.5em;
    margin-top: 1em;
    border: 2px solid rgba(12, 61, 15, 0.671);
    box-shadow: 0px 0px 8px rgb(29, 43, 25);
    border-radius: 2rem;
}

#steps {
    text-align: center;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    padding-right: 1.5em;
    padding-top: 15px;
}

li.lili {
    padding-bottom: 1.5em;
    padding-top: 1em;
}

ol {
    padding-left: 2em;
    padding-right: 1.5em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    padding: 2em;
}