body {
    font-family: sans-serif;
    background-color: rgb(12, 119, 122);
    font-weight: bold;
    padding: 10px;
}
.links {
    color: rgb(204, 50, 50);
}

.pizza-link {
    margin: 8px;
}

h1 {
    color: rgb(255, 145, 0);
    padding: 8px;
    text-align: center;
}

h3 {
    color: rgb(207, 221, 3);
    padding: 8px;
}

h5 {
    color: aquamarine;
    font-style: italic;
}

#description {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 16px;
}

.description-text {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

img {
    display: block;
    margin: auto;
}

.all-text {
    color: white;
    margin-bottom: 40px;
}

.list li {
    margin-bottom: 15px;
}